<%= link_to '<button type="button">Back</button>'.html_safe, works_path%>
<p>
  <strong>Name:</strong>
  <%= @work.name %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @work.HP %>
</p>

<p>
  <strong>Company:</strong>
  <%= @work.company %>
</p>

<p>
  <strong>Model:</strong>
  <%= @work.model %>
</p>

<p>
  <strong>Pitch1:</strong>
  <%= @work.pitch1 %>
</p>

<p>
  <strong>Turn1:</strong>
  <%= @work.turn1 %>
</p>

<p>
  <strong>Gauge:</strong>
  <%= @work.gauge %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @work.weight %>
</p>

<p>
  <strong>Slot:</strong>
  <%= @work.slot %>
</p>

<p>
  <strong>Connection:</strong>
  <%= @work.connection %>
</p>

<p>
  <strong>Coil:</strong>
  <%= @work.coil %>
</p>

<p>
  <strong>Pitch2:</strong>
  <%= @work.pitch2 %>
</p>

<p>
  <strong>Turn2:</strong>
  <%= @work.turn2 %>
</p>

<p>
  <strong>Gauge2:</strong>
  <%= @work.guage2 %>
</p>

<p>
  <strong>Stetarlen:</strong>
  <%= @work.stetarlen %>
</p>

<p>
  <strong>Length:</strong>
  <%= @work.length %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @work.remark %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @work.amount %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @work.amount2 %>
</p>

