
<%= link_to '<button type="button">Back</button>'.html_safe, customers_path %><br><br>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}

</style>
</head>
<body>
 <table style="width:100%">
  <thead>
    <tr>
      <th>SNo.</th>
      <th>Name</th>
      <th>Fathername</th>
      <th>Address</th>
      <th>Mobile</th>
      <th>Total</th>
      <th>Recieve</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each_with_index do |result, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to result.name, result %></td>
        <td><%= result.father %></td>
        <td><%= result.address %></td>
        <td><%= result.mobile %></td>
        <td><%= result.total %></td>
        <td><%= result.recieve %></td>
        <td><%= result.balance %></td>
        <td><%= link_to '<button type="button">Edit</button>'.html_safe, edit_customer_path(result) %></td>
        <td><%= button_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table><br>

