<p id="notice"><%= notice %></p>

<h1>Dealeritems</h1>

<table>
  <thead>
    <tr>
      <th>Itemname</th>
      <th>Quantity</th>
      <th>Rate</th>
      <th>Unit</th>
      <th>Amount</th>
      <th>Dealerbill</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dealeritems.each do |dealeritem| %>
      <tr>
        <td><%= dealeritem.itemname %></td>
        <td><%= dealeritem.quantity %></td>
        <td><%= dealeritem.rate %></td>
        <td><%= dealeritem.unit %></td>
        <td><%= dealeritem.amount %></td>
        <td><%= dealeritem.dealerbill_id %></td>
        <td><%= link_to 'Show', dealeritem %></td>
        <td><%= link_to 'Edit', edit_dealeritem_path(dealeritem) %></td>
        <td><%= link_to 'Destroy', dealeritem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dealeritem', new_dealeritem_path %>
