<p id="notice"><%= notice %></p>

<p>
  <strong>Itemname:</strong>
  <%= @item.itemname %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @item.rate %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @item.unit %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @item.amount %>
</p>

<p>
  <strong>Bill:</strong>
  <%= @item.bill_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
